doctype html
html
  head
    title Sample Article
    include includes/head.pug
    link(href='/css/article.css', rel='stylesheet')
    
  body
    include includes/nav.pug
    #page-wrapper
      #content-wrapper
        .article
          .article-content
            .article-header
              .header-flair
                img(src='/img/game/' + (article.games && article.games.length ? article.games[0].image : '404.png'))
              .header-text
                h1.title= article.title
                h2.subtitle= article.subtitle
                h5
                  span(style='color: #aaa') Written by:&nbsp;
                  = article.authors.map((x) => { return x.name }).join(', ')
                h5
                  span(style='color: #aaa') Published on:&nbsp;
                  = moment(article.publishedOn).format('ddd, MMM Do, YYYY')
            hr
            div
              != article.content
            if article.ups || article.downs || article.rating || article.summary
              hr
              h2.subtitle Final Thoughts
              if article.ups || article.downs
                dl
                  if article.ups
                    each u in article.ups
                      dt +
                      dd= u
                  if article.downs
                    each d in article.downs
                      dt —
                      dd= d
              if article.rating
                p(style='font-weight: 500') Overall Rating:&nbsp;
                  span.rating(class='r' + Math.round(article.rating))= article.rating
              if article.summary
                p= article.summary
            hr(style='width: 300px')
            p= article.authors.map((x) => { return x.name }).join(', ')
          .article-sidebar
            h2.subtitle You Might Like
            ul
              li Thing 1
              li Thing 2
              li Thing 3
          
      nav.breadcrumb
        ul
          li
            a(href='/home')
              span.icon.is-small
                i.fa.fa-home
          li
            a(href='#') Articles
          li.is-active
            a(href='#')= article.title
    include includes/foot.pug
