doctype html
html
  head
    title Sample Article
    include includes/head.pug
    link(href='/css/article.css', rel='stylesheet')
    
  body
    include includes/nav.pug
    #page-wrapper
      #content-wrapper
        .article
          .article-content
            .article-header
              .header-flair
                img(src='/img/game/' + (article.games && article.games.length ? article.games[0].image : '404.png'))
              .header-text
                h1.title= article.title
                h2.subtitle= article.subtitle
                h5
                  span(style='color: #aaa') Written by:&nbsp;
                  = article.authors.map(x => x.name).join(', ')
                h5
                  span(style='color: #aaa') Published on:&nbsp;
                  = moment(article.publishedOn).format('ddd, MMM Do, YYYY')
            hr
            div
              != article.content
            if (article.ups && article.ups.length) || (article.downs && article.downs.length) || (article.rating && article.rating.length) || (article.summary && article.summary.length)
              hr
              h2.subtitle Final Thoughts
              if article.ups || article.downs
                dl
                  if article.ups
                    each u in article.ups
                      dt +
                      dd= u
                  if article.downs
                    each d in article.downs
                      dt —
                      dd= d
              if article.rating
                p(style='font-weight: 500') Overall Rating:&nbsp;
                  span.rating(class='r' + Math.round(article.rating))= article.rating
              if article.summary
                p= article.summary
            hr(style='max-width: 300px; margin-bottom: 0.5em')
            p(style='margin: 0; font-size: 0.9em')
              span.icon.is-small
                i.fa(class='fa-' + (article.authors.length > 1 ? 'users' : 'user'))
              | &nbsp;
              = article.authors.map(x => x.name).join(', ')
            p(style='font-size: 0.9em')
              span.icon.is-small
                i.fa.fa-clock-o
              | &nbsp;
              = moment(article.publishedOn).format('ddd, MMM Do, YYYY')
            
          .article-sidebar
            h2.subtitle(style='margin: 1em 0 0.5em 0') You Might Like
            ul(style='margin-left: 10px')
              each i in [1, 2, 3]
                li
                  a= 'Thing ' + i
          
            h2.subtitle(style='margin: 1em 0 0.5em 0') Categories
            ul(style='margin-left: 10px')
              each c in categories
                li
                  a= c.name
                  
            h2.subtitle(style='margin: 1em 0 0.5em 0') Genres
            ul(style='margin-left: 10px')
              each g in genres
                li
                  a= g.name
          
      nav.breadcrumb
        ul
          li
            a(href='/home')
              span.icon.is-small
                i.fa.fa-home
          li
            a(href='#') Articles
          li.is-active
            a(href='#')= article.title
    include includes/foot.pug
